body {
    background-color: rgb(204, 226, 234);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
            
header {
    text-align: center;
    padding: 20px;
}
            
nav.cell {width: 80px;}
            
nav {
    background-color: rgb(253, 218, 223);
    padding: 15px;
    width: 200px;
    height: 1918px;
    float: left;
}
         
nav a:hover {
    text-decoration: underline;
    color: darkblue;
    transition: color   0.3s ease-in-out;
}
            
nav a {
    text-decoration: none;
    color: rgb(91, 154, 168);
    display: block;
    margin-bottom: 15px;   
}
            
nav > * {margin: 1em 0;}


footer {
    text-align: center;
    background: #d9e8ee;
    padding: 10px;
    margin-top: 20px;
}

.conteudo {
    margin-left: 220px;
    padding: 20px;
}

.caixa {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: calc(100% - 260px); 
    margin-left: 20px; 
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.caixa img {
    width: 60%;             
    display: block;
    margin: 0 auto 15px;    
    border-radius: 8px;
}

.caixa .texto {
    text-align: justify;
    font-size: 1.05em;
    line-height: 1.6;
}
