body {
    background-color: rgb(204, 226, 234);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
            
header {
    text-align: center;
    padding: 20px;
}
            
nav.cell {width: 80px;}
            
nav {
    background-color: rgb(253, 218, 223);
    padding: 15px;
    width: 200px;
    height: 604px;
    float: left;
}
            
nav a:hover {
    text-decoration: underline;
    color: darkblue;
    transition: color   0.3s ease-in-out;
}
            
nav a {
    text-decoration: none;
    color: rgb(91, 154, 168);
    display: block;
    margin-bottom: 15px;   
}
            
nav > * {margin: 1em 0;}

main {
    margin-left: 220px;
    padding: 20px;
}

.destaques {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #d9e8ee;
    padding: 10px;
    margin-top: 20px;
}